datasets/
*.db
experiments/coarse_grain_benefits/results/*
.DS_Store
.ipynb_checkpoints
.cursorignore
.cursorrules
notebooks/
*.pyc
*.pkl
*.pt
output.out
logs/
model_checkpoints/
wandb/
playground/
benchmarks/
__pycache__/
.venv/
.env
.gitignore
.vscode/
settings.json
tests/outputs/
plots/
slurm_logs/
.CLAUDE.md
.cursor/

bonner-libraries/

# Ignore all CSV files except those in pca_labels
*.csv
!pca_labels/**/*.csv