datasets/
.DS_Store
.ipynb_checkpoints
.cursorignore
.cursorrules
notebooks/
*.pyc
*.pkl
output.out
logs/
model_checkpoints/
wandb/
playground/
benchmarks/
.venv/
.env
.vscode/
settings.json
tests/outputs/
plots/
slurm_logs/
